QMenu {
	color:black;
	background-color:white; 
	border-radius:3px;
	padding:5px;
	margin:5px;
	font-size:16px
}
QMenu::item:text {
	padding-left:10px;
	padding-right:10px;
}
QMenu::item:selected{ 
	color:#1aa3ff;
	background-color: #e5f5ff;
	border-radius:3px;
}
QMenu::separator{
	height:1px;
	background:#bbbbbb;
	margin:5px;
	margin-left:10px;
	margin-right:10px;
}
 
